{% extends 'base.html' %}

{% block title %}Teacher Sign In - Pine Hills Grammar School{% endblock %}

{% block content %}
<section>
    <h1 class="signin-heading">Teacher Sign In</h1>
    <form id="login-form" method="POST" action="{% url 'admin_login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form-control" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="toggle-password">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-btn">Sign In</button>
    </form>
    <!-- Error message display -->
    <div id="error-message" class="alert alert-danger mt-3" style="display: none;"></div>
</section>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        var passwordField = document.getElementById('password');
        var eyeIcon = document.querySelector('#toggle-password i');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    });

    // document.getElementById('submit-btn').addEventListener('click', function (event) {
    //     event.preventDefault(); // Prevent the default form submission behavior

    //     var form = document.getElementById('login-form');
    //     var formData = new FormData(form);

    //     // Send a POST request to the login endpoint
    //     fetch('/teacher/login/', {
    //         method: 'POST',
    //         body: formData
    //     })
    //     .then(response => {
    //         console.log(response)
    //         if (response.ok) {
    //             // If the response is successful, redirect to the dashboard page
    //             window.location.href = '/teacher/dashboard/';
    //         } else {
    //             // If the response is not successful, display the error message
    //             document.getElementById('error-message').innerText = 'Username or password is incorrect. If you are struggling to login, please contact ithelpdesk@pinehillsgs.com.';
    //             document.getElementById('error-message').style.display = 'block';
    //         }
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // });
</script>
{% endblock %}
