{% extends 'base.html' %}

{% block title %}Home - Pine Hills Grammar School{% endblock %}

{% block content %}
<section class="mainsection">
    <h1>Welcome to Pine Hills Grammar School</h1>
    <p>Welcome to the official website of Pine Hills Grammar School, where excellence in education meets innovation in
        learning.</p>

    <h2>About Us</h2>
    <p>Pine Hills Grammar School is a leading educational institution known for its commitment to academic excellence,
        holistic development, and fostering a culture of lifelong learning. With a rich history of academic achievements
        and a forward-thinking approach to education, we strive to provide our students with the knowledge, skills, and
        values they need to succeed in an ever-changing world. For more information, <a href="{% url 'about' %}">click
            here</a>.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to empower students to reach their full potential, become critical thinkers, effective
        communicators, and responsible global citizens who contribute positively to society.</p>

    <h2>Academic Programs</h2>
    <p>At Pine Hills Grammar School, we offer a comprehensive range of academic programs designed to meet the diverse
        needs and interests of our students. From rigorous core subjects to enriching extracurricular activities, our
        programs provide students with opportunities to explore their passions, develop new skills, and achieve their
        academic goals.</p>

    <h2>Get Involved</h2>
    <p>Join us in our mission to inspire and empower the next generation of leaders, innovators, and changemakers.
        Whether you're a student, parent, educator, or community member, there are many ways to get involved and make a
        positive impact at Pine Hills Grammar School.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or would like more information about Pine Hills Grammar School, please feel free to
        contact us:</p>
    <p>Email: <a href="mailto:info@pinehillsgs.com">info@pinehillsgs.com</a></p>
    <p>Phone: +44 (0)20 1234 5678</p>
</section>
{% endblock %}